.ws-nps-input-wrapper {
  position: relative;
  .ws-nps__count {
    position: absolute;
    right: 8px;
    bottom: 8px;
    color: rgba(0, 0, 0, 0.48);
    font-size: 12px;
  }
}
  .ws-nps-input {
    display: block;
    font-family: inherit;
    resize: vertical;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #dcdfe6;
    border-radius: 5px;
    overflow: auto;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    &:hover {
      border-color: #000;
    }
    &:focus {
      outline: none;
      border-color: #007BFF;
    }
    &::placeholder { color: rgba(0, 0, 0, .5); }
    &::-webkit-scrollbar {
      width: 4px;
      background-color: #fff;
    }
    &::-webkit-scrollbar-button {
      opacity: 0;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0.125rem;
      background-color: #D0D0D0;
    }
  }
  .no-resize { resize: none; }
  .ws-nps-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #007BFF;
    border: none;
    color: #fff;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 12px 30px;
    font-size: 14px;
    font-family: inherit;
    border-radius: 4px;
    &:hover {
      background: #5A9CFF;
    }
    &.disabled, &.disabled:hover {
      background: rgba(0, 123, 255, 0.3);
      cursor: not-allowed;
    }
  }

/*transition*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-down-in-enter-active,
.slide-down-in-leave-active {
  transition: all 0.3s ease;
}

.slide-down-in-enter-from,
.slide-down-in-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform .15s linear;
}

.slide-left-enter-from,
.slide-right-leave-to{
  transform: translateX(100%);
}
.slide-left-leave-to,
.slide-right-enter-from {
  transform: translateX(-100%);
}
